body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}


.navbar{
    height: 4.5rem;

    border-bottom: 3rem;
    background-color: white;
}
    

.mainicon{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important ;
    font-size: 1.2rem !important ; 
}

/* footer  */
.f-info-links a {
 text-decoration: none  ; 
  color: #222222;
}
.f-info-links a :hover {
 text-decoration: underline  ; 
  
}
.f-info-links{
    width: 100%;
}
.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    
}

.f-info-socials i{
    margin-right: 1rem;
}

.f-info {
    height:5rem;
    text-align: center;
    background-color:#ebebeb ;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   
    align-items: center;
    }


    /* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
    
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important ;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;

}
.card-text p{
    font-weight: 400;
}


.listing-link {
  text-decoration: none;
  color: inherit;
  
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.row{
    justify-content: center;
    font-size: small;
    height: 50%;
}

.container{
    flex: 1;
}

.card-img-top.show-img {
  height: 15rem !important;
  object-fit: cover;
  
  
}





